/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header-background {
    background-image: url('/hintergrund1.png'); /* Pfad zu Ihrem Hintergrundbild */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white; /* oder eine andere Farbe, die zum Hintergrund passt */
    padding: 250px 0; /* Anpassung nach Bedarf */
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}



header h1 {
    margin: 0;
}

.section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.section h2, .section h3 {
    color: #333;
}

blockquote {
    font-style: italic;
    border-left: 3px solid #333;
    margin: 20px 0;
    padding-left: 20px;
    color: #555;
}

ul {
    list-style: square;
    margin: 10px 0 10px 20px;
}



@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
}
